/README.md
/.emacs.desktop
/.session
/session.*
/.smex-items
/auto-save-list
/elpa
site-lisp/package/
/var
/ditaa*.jar
/history
/ido.last
/LICENSE
/org-clock-save.el
/recentf
.DS_Store
/ac-comphist.dat